################################################
##   EAC3 Converter - Convert audio to EAC3   ##
################################################

---
services:
  eac3_converter:
    container_name: eac3_converter
    image: simonverbois/eac3-converter:latest
    volumes:
      - ./path/to/mkv:/app/input:rw
      - eac3_cache:/app/cache:rw
      - ./config:/app/config:ro
    restart: always
    network_mode: none
    deploy:
      resources:
        limits:
          cpus: '4.0'
          memory: '2G'
        reservations:
          cpus: '1.0'
          memory: '512M'
    healthcheck:
      test: ["CMD", "pgrep", "-f", "main.py"]
      interval: 1m
      timeout: 10s
      retries: 3

volumes:
  eac3_cache:
