[app]
debug_mode = false

[schedule]
start_time = "04:00"
run_immediately = false

[system]
timezone = "Europe/Paris"

[ffmpeg]
audio_bitrate = "640k"
strict_mode = "-2"
flags = "+genpts"
timeout_seconds = 3600
min_disk_space_ratio = 1.5
